@import url("https://fonts.googleapis.com/css?family=Merriweather:400|Poppins:400");
/* line 14, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
.border-thin-dark, #sidemenu {
  border: 1px solid rgba(75, 100, 100, 0.15);
}

/* line 19, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
body {
  background-color: #FFFFFF;
  color: #0C3448;
}

/* line 23, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 32, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
html {
  font-size: 16px;
}

/* line 36, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #0C3448;
}

/* line 43, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
p {
  margin-bottom: 1.00em;
  color: #4B6464;
}

/* line 48, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  line-height: 1.15;
}

/* line 55, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
h1 {
  margin-top: 0;
  font-size: 2.488em;
}

/* line 60, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
h2 {
  font-size: 2.074em;
}

/* line 62, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
h3 {
  font-size: 1.728em;
}

/* line 64, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
h4 {
  font-size: 1.44em;
}

/* line 66, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
h5 {
  font-size: 1.2em;
}

/* line 68, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
small, .text_small {
  font-size: 0.833em;
}

/* line 72, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
a {
  color: #EE8F90;
}

/* line 74, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
a:hover {
  transition: .5s;
  color: #CF7576;
}

/* line 3, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#sidemenu {
  display: block;
  background-color: #FFFFFF;
  border-top: none;
  border-left: none;
  border-bottom: none;
  padding: 16px;
  text-align: center;
}

/* line 12, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#sidemenu .activeLink {
  color: #0C3448;
}

/* line 15, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#sidemenu div {
  margin-top: 80px;
}

/* line 18, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#sidemenu div:last-child {
  display: block;
  width: 100%;
  left: 0px;
  position: absolute;
  bottom: 16px;
  text-align: center;
}

/* line 26, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#sidemenu ul {
  margin: 0;
}

/* line 28, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#sidemenu ul li {
  line-height: 2.5;
  list-style-type: none;
  font-family: 'Merriweather', serif;
  font-size: .9rem;
}

/* Menu Button */
/* line 39, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#icon-menu {
  float: left;
  position: fixed;
  left: 0px;
  margin: 16px;
  z-index: 9999999;
}

/* line 46, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#icon-menu:hover #Rectangle {
  fill: #F1F1F0;
}

/* line 52, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#back {
  float: left;
  position: fixed;
  left: 0px;
  margin: 16px;
  padding: 16px;
  background-color: #FFFFFF;
  z-index: 9999999;
}

/* line 65, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
.grid-1 .intro h1 {
  margin-top: 0;
}

/* line 68, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
.grid-1 .intro p {
  margin-top: 0px;
  font-weight: 400;
  letter-spacing: 8.5px;
  text-transform: none;
}

@media screen and (max-width: 60em) {
  /* line 64, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
  .grid-1 .intro {
    padding-top: 20px;
  }
}

/* line 78, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
.grid-1 a {
  display: block;
  margin-top: 64px;
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

/* line 89, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-home #logo {
  display: none;
}

/* line 96, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works {
  overflow-y: visible !important;
  overflow-x: hidden !important;
}

/* line 99, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-2, div.grid-works .grid-3, div.grid-works .grid-4, div.grid-works .grid-5 {
  padding: 0;
  background: no-repeat center;
}

/* line 100, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-2 a, div.grid-works .grid-3 a, div.grid-works .grid-4 a, div.grid-works .grid-5 a {
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  font-weight: 400;
}

/* line 107, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-2 p, div.grid-works .grid-3 p, div.grid-works .grid-4 p, div.grid-works .grid-5 p {
  opacity: .8;
}

/* line 110, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-2 p:last-of-type, div.grid-works .grid-3 p:last-of-type, div.grid-works .grid-4 p:last-of-type, div.grid-works .grid-5 p:last-of-type {
  margin-top: 20px;
}

/* line 116, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-2:hover, div.grid-works .grid-3:hover, div.grid-works .grid-4:hover, div.grid-works .grid-5:hover {
  cursor: pointer;
}

/* line 118, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-2:hover .grid-info, div.grid-works .grid-3:hover .grid-info, div.grid-works .grid-4:hover .grid-info, div.grid-works .grid-5:hover .grid-info {
  transition: .3s;
  opacity: 1;
}

/* line 123, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-2 {
  background: no-repeat center;
  background-size: cover;
  background-image: url("../img/covers/svgTool.png");
}

/* line 128, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-3 {
  background: no-repeat center;
  background-size: cover;
  background-image: url("../img/covers/ebMobile.png");
}

/* line 133, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-4 {
  background: no-repeat center;
  background-size: cover;
  background-image: url("../img/covers/lendr.png");
}

/* line 138, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-5 {
  background: no-repeat center;
  background-size: cover;
  background-image: url("../img/covers/acasys.png");
}

/* line 143, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-info {
  opacity: 0;
  display: flex;
  background: rgba(12, 52, 72, 0.95);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* line 152, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-info div {
  display: block;
}

/* line 154, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-info div p {
  color: #F5D76A;
  margin-top: -8px;
}

/* line 158, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-info div h3 {
  font-weight: 700;
  color: #F5D76A;
}

/* line 168, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-about a {
  display: block;
  margin-top: 64px;
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

/* line 175, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-about .grid-2 p {
  text-transform: none;
}

/* line 178, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-about .grid-2 a {
  color: #4B6464;
}

/* line 180, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-about .grid-2 a:hover {
  color: #0C3448;
}

/* line 186, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-about .grid-4 p {
  color: #EE8F90;
}

/* line 189, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-about .grid-4 a {
  margin-top: 0px;
  padding: 12px;
  display: inline-block;
}

/* line 195, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-about .grid-3 {
  background: no-repeat center;
  background-size: cover;
  background-image: url("../img/covers/ajPhoto.png");
}

/* line 206, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-about a:hover svg g#linkedin {
  transition: .5s;
  fill: #CF7576;
}

/* line 209, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-about a:hover svg g#dribble {
  transition: .5s;
  fill: #CF7576;
}

/* line 212, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-about a:hover svg g#twitter {
  transition: .5s;
  fill: #CF7576;
}

/* line 215, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-about a:hover svg g#codepen {
  transition: .5s;
  fill: #CF7576;
}

/* line 224, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.project-single {
  text-align: center;
}

/* line 226, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.project-single div.wrapper {
  display: inline-block;
  margin: auto;
  max-width: 900px;
  text-align: left;
}

/* line 231, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.project-single div.wrapper h1:first-of-type {
  text-align: center;
}

/* line 234, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.project-single div.wrapper p:first-of-type {
  text-align: center;
}

/* line 237, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.project-single div.wrapper img:first-of-type {
  margin-top: 64px;
  margin-bottom: 64px;
}

/* line 241, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.project-single div.wrapper h1, div.project-single div.wrapper h2, div.project-single div.wrapper h3, div.project-single div.wrapper h4 {
  margin-top: 64px;
  margin-bottom: 32px;
}

/* line 245, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.project-single div.wrapper h5 {
  margin-bottom: 16px;
}

/* line 248, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.project-single div.wrapper img {
  display: block;
  text-align: center;
  margin: auto;
}

/* line 253, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.project-single div.wrapper p:last-of-type {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

/* line 259, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.project-single div.separator {
  text-align: center;
  margin: 64px;
}

/* line 263, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.project-single ol {
  list-style: upper-roman;
}

/* line 266, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.project-single img + p.text_small, div.project-single p.caption {
  text-align: center;
  opacity: .80;
  margin-bottom: 64px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

/* line 280, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#loader {
  display: block;
  position: fixed;
  z-index: 99999999999;
  text-align: center;
  background: #F9FAF4;
  width: 100%;
  height: 100%;
  transition: .2s;
}

/* line 289, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#loader svg {
  display: block;
  top: 50%;
  left: 45%;
  position: absolute;
}

/* line 299, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#topNavbar {
  width: 100vw;
  display: block;
  position: fixed;
  z-index: 100;
  background: #ffffff;
  height: 72px;
  padding: 16px;
  border-bottom: 1px solid #F1F1F0;
}

/* line 310, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
.top-nav-bar {
  margin-left: 70px;
  position: fixed;
  z-index: 9999;
}

/* line 315, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
.top-nav-bar a svg {
  margin-top: 18px;
  display: inline-block;
}

/* line 319, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
.top-nav-bar a h5 {
  float: right;
  margin-top: 24px;
  margin-left: 8px;
  color: #0C3448;
}

/* line 1, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 60em) {
  /* line 1, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
  .container {
    grid-template-rows: 50% 50% 50% 50%;
    overflow-y: visible !important;
    overflow-x: hidden !important;
  }
}

/* line 14, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
.container.grid-works {
  grid-template-rows: 48% 48% 48% !important;
}

@media screen and (max-width: 60em) {
  /* line 14, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
  .container.grid-works {
    grid-template-rows: 40% 40% 40% 40% 40% 40% !important;
    overflow-y: visible !important;
    overflow-x: hidden !important;
  }
}

@media screen and (max-width: 60em) {
  /* line 23, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
  .container.grid-home {
    grid-template-rows: 100% !important;
  }
  /* line 26, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
  .container.grid-home .grid-2, .container.grid-home .grid-3, .container.grid-home .grid-4 {
    display: none;
  }
  /* line 29, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
  .container.grid-home #logo {
    display: block;
  }
  /* line 32, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
  .container.grid-home svg {
    margin-bottom: 8px;
  }
}

/* line 46, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
.grid-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9FAF4;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

@media screen and (max-width: 60em) {
  /* line 46, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
  .grid-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1;
  }
}

/* line 60, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
.grid-1 div {
  flex: 1;
}

/* line 65, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
.grid-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5D76A;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 1;
}

@media screen and (max-width: 60em) {
  /* line 65, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
  .grid-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
  }
}

/* line 79, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
.grid-2 div {
  flex: 1;
}

/* line 84, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
.grid-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EE8F90;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}

@media screen and (max-width: 60em) {
  /* line 84, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
  .grid-3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 3;
  }
}

/* line 98, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
.grid-3 div {
  flex: 1;
}

/* line 103, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
.grid-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0C3448;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 2;
}

@media screen and (max-width: 60em) {
  /* line 103, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
  .grid-4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 4;
  }
}

/* line 117, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
.grid-4 div {
  flex: 1;
}

/* line 122, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
.grid-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0C3448;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
}

@media screen and (max-width: 60em) {
  /* line 122, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
  .grid-5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 5;
  }
}

/* line 136, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
.grid-5 div {
  flex: 1;
}

/* line 141, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
.callout {
  margin: 0;
}

/* line 145, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_squares-layout.scss */
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5 {
  padding: 32px;
}

/* Head Yellow */
/* line 2, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#aj-head-yellow {
  opacity: 0;
  transform: opacity;
  transform-origin: center;
  animation: appear 1.5s ease-in-out forwards;
}

/* line 8, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#glassesR-yellow {
  transform: translateY(35px) scaleY(0.5);
  animation: glassesAnimR 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 13, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#glassesL-yellow {
  transform: translateY(35px) scaleY(0.5);
  animation: glassesAnim 1.5s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 18, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#earringsR-yellow {
  transform: translateY(-5px);
  animation: earringsAnimR 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 23, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#earringsL-yellow {
  transform: translateY(-5px);
  animation: earringsAnim 1.5s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 28, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#face-yellow {
  transform: translateY(50px) scaleY(0.64);
  animation: faceAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 33, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#bangsR-yellow {
  transform: translateY(55px) scaleY(0.64);
  animation: bangsAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 38, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#bangsL-yellow {
  transform: translateY(50px) scale(0.8);
  animation: bangsAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 43, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#hairBack-yellow {
  transform: translate(0px, 20px) scaleY(0.8);
  animation: hairBackAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* Head Dark */
/* line 51, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#aj-head-dark {
  opacity: 0;
  transform: opacity;
  transform-origin: center;
  animation: appear 1.5s ease-in-out forwards;
}

/* line 57, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#glassesR-dark {
  transform: translateY(35px) scaleY(0.5);
  animation: glassesAnimR 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 62, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#glassesL-dark {
  transform: translateY(35px) scaleY(0.5);
  animation: glassesAnim 1.5s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 67, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#earringsR-dark {
  transform: translateY(-5px);
  animation: earringsAnimR 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 72, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#earringsL-dark {
  transform: translateY(-5px);
  animation: earringsAnim 1.5s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 77, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#face-dark {
  transform: translateY(50px) scaleY(0.64);
  animation: faceAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 82, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#bangsR-dark {
  transform: translateY(55px) scaleY(0.64);
  animation: bangsAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 87, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#bangsL-dark {
  transform: translateY(50px) scale(0.8);
  animation: bangsAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 92, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#hairBack-dark {
  transform: translate(0px, 20px) scaleY(0.8);
  animation: hairBackAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* Head Pink */
/* line 99, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#aj-head-pink {
  opacity: 0;
  transform: opacity;
  transform-origin: center;
  animation: appear 1.5s ease-in-out forwards;
}

/* line 105, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#glassesR-pink {
  transform: translateY(35px) scaleY(0.5);
  animation: glassesAnimR 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 110, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#glassesL-pink {
  transform: translateY(35px) scaleY(0.5);
  animation: glassesAnim 1.5s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 115, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#earringsR-pink {
  transform: translateY(-5px);
  animation: earringsAnimR 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 120, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#earringsL-pink {
  transform: translateY(-5px);
  animation: earringsAnim 1.5s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 125, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#face-pink {
  transform: translateY(50px) scaleY(0.64);
  animation: faceAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 130, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#bangsR-pink {
  transform: translateY(55px) scaleY(0.64);
  animation: bangsAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 135, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#bangsL-pink {
  transform: translateY(50px) scale(0.8);
  animation: bangsAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 140, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#hairBack-pink {
  transform: translate(0px, 20px) scaleY(0.8);
  animation: hairBackAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* Headbang Animation */
@keyframes glassesAnim {
  20% {
    transform: translateY(-10px) scaleY(1);
  }
  40% {
    transform: translateY(-10px) scaleY(1);
  }
  60% {
    transform: translateY(25px) scaleY(0.7);
  }
  80% {
    transform: translateY(-10px) scaleY(1);
  }
  100% {
    transform: translateY(0px) scaleY(1);
  }
}

@keyframes glassesAnimR {
  10% {
    transform: translateY(-10px) scaleY(1);
  }
  20% {
    transform: translateY(-10px) scaleY(1);
  }
  30% {
    transform: translateY(25px) scaleY(0.7);
  }
  40% {
    transform: translateY(-10px) scaleY(1);
  }
  50% {
    transform: translateY(0px) scaleY(1);
  }
  60% {
    transform: translateY(20px) scaleY(0.1);
  }
  70% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes faceAnim {
  10% {
    transform: translateY(-5px) scaleY(1.1);
  }
  20% {
    transform: translateY(-5px) scaleY(1.1);
  }
  30% {
    transform: translateY(30px) scaleY(0.8);
  }
  40% {
    transform: translateY(-5px) scaleY(1);
  }
  50% {
    transform: translateY(0px) scaleY(1);
  }
  60% {
    transform: rotateZ(2deg);
  }
  70% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes bangsAnim {
  10% {
    transform: translateY(5px) scaleY(1);
  }
  20% {
    transform: translateY(5px) scaleY(1);
  }
  30% {
    transform: translateY(38px) scaleY(0.7);
  }
  40% {
    transform: translateY(-5px) scaleY(1);
  }
  50% {
    transform: translateY(0px) scaleY(1);
  }
  60% {
    transform: rotateZ(2deg);
  }
  70% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes hairBackAnim {
  10% {
    transform: translateY(5px) scaleY(1);
  }
  20% {
    transform: translateY(5px) scaleY(1);
  }
  30% {
    transform: translateY(-2px) scaleY(0.85);
  }
  40% {
    transform: translateY(10px) scaleY(1);
  }
  50% {
    transform: translateY(5px) scaleY(1);
  }
  60% {
    transform: rotateZ(1deg);
  }
  70% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes earringsAnim {
  20% {
    transform: translateY(-10px) scaleY(1);
  }
  40% {
    transform: translateY(-10px) scaleY(1);
  }
  60% {
    transform: translateY(5px) scaleY(1);
  }
  80% {
    transform: translateY(-5px) scaleY(1);
  }
  100% {
    transform: translateY(0px) scaleY(1);
  }
}

@keyframes earringsAnimR {
  10% {
    transform: translateY(-10px) scaleY(1);
  }
  20% {
    transform: translateY(-10px) scaleY(1);
  }
  30% {
    transform: translateY(5px) scaleY(1);
  }
  40% {
    transform: translateY(-5px) scaleY(1);
  }
  50% {
    transform: translateY(0px) scaleY(1);
  }
  60% {
    transform: translate(-2px, 3px);
  }
  70% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Wink Animation */
@keyframes winkAnim {
  20% {
    transform: rotateZ(2deg);
  }
  30% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

/* Circle Beat Animation */
@keyframes circleBeatAnim {
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(1000);
    opacity: 0;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Menu to Close */
/* line 351, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#icon-menu.menuAnim #bot {
  transform: translateY(-2px);
  transform-origin: 25.5px 23.5px;
  animation: botAnim .5s 0s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 357, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#icon-menu.menuAnim #top {
  transform: translateY(2px);
  transform-origin: 26.5px 17.5px;
  animation: topAnim .5s 0s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 363, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#icon-menu.menuAnim #mid {
  display: none;
}

/* line 369, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#icon-menu.menuAnimReverse #bot {
  transform: translateY(2px);
  transform-origin: 25px 23px;
  animation: botAnimReverse .5s 0s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 375, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#icon-menu.menuAnimReverse #top {
  transform: translateY(-2px);
  transform-origin: 26px 18px;
  animation: topAnimReverse .5s 0s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 381, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#icon-menu.menuAnimReverse #mid {
  display: block;
}

/* Menu to Close Animation */
@keyframes botAnim {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: rotateZ(45deg);
  }
}

@keyframes topAnim {
  0% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: rotateZ(-45deg);
  }
}

@keyframes botAnimReverse {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes topAnimReverse {
  0% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

/* line 440, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
a:hover span#rarr {
  cursor: pointer;
  margin-right: -5px;
  animation: rarrAnim .5s 0s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

@keyframes rarrAnim {
  0% {
    margin-right: -5px;
  }
  50% {
    margin-right: -10px;
  }
  100% {
    margin-right: -5px;
  }
}

/* line 461, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
a:hover span#larr {
  cursor: pointer;
  margin-left: -5px;
  animation: larrAnim .5s 0s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

@keyframes larrAnim {
  0% {
    margin-left: -5px;
  }
  50% {
    margin-left: -10px;
  }
  100% {
    margin-left: -5px;
  }
}

/*.off-canvas-content.is-open-left.has-transition-push.has-position-left {
  div.container:first-of-type {
    width: 75vw;
    transition: 1s;
  }
}*/
/*.off-canvas-content.project-single.is-open-left.has-transition-push {
  div:first-of-type {
    transition: 1s;
    transition-delay: .1s;
    width: 65vw;
    margin: 32px;
  }
}
*/

/*# sourceMappingURL=../css/app.map */