@import url("https://fonts.googleapis.com/css?family=Merriweather:400|Poppins:400");
/* line 12, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
.border-thin-dark, #sidemenu {
  border: 1px solid rgba(75, 100, 100, 0.25);
}

/* line 17, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
* {
  transition-duration: .20s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

/* line 22, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
body {
  background-color: #F9FAF4;
  color: #0C3448;
}

/* line 26, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 35, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
html {
  font-size: 16px;
}

/* line 39, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #0C3448;
}

/* line 46, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
p {
  margin-bottom: 1.00em;
  color: #4B6464;
}

/* line 51, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  line-height: 1.15;
}

/* line 58, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
h1 {
  margin-top: 0;
  font-size: 4.209em;
}

/* line 63, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
h2 {
  font-size: 3.157em;
}

/* line 65, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
h3 {
  font-size: 2.369em;
}

/* line 67, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
h4 {
  font-size: 1.777em;
}

/* line 69, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
h5 {
  font-size: 1.333em;
}

/* line 71, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
small, .text_small {
  font-size: 0.75em;
}

/* line 73, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_global.scss */
a {
  color: #CF7576;
}

/* line 3, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#sidemenu {
  display: block;
  background-color: #F9FAF4;
  border-top: none;
  border-left: none;
  border-bottom: none;
  padding: 16px;
  text-align: center;
}

/* line 12, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#sidemenu .activeLink {
  color: #0C3448;
}

/* line 15, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#sidemenu div {
  margin-top: 80px;
}

/* line 18, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#sidemenu div:last-child {
  display: block;
  width: 100%;
  left: 0px;
  position: absolute;
  bottom: 16px;
  text-align: center;
}

/* line 26, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#sidemenu ul {
  margin: 0;
}

/* line 28, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#sidemenu ul li {
  line-height: 2.5;
  list-style-type: none;
  font-family: 'Merriweather', serif;
}

/* line 35, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
#icon-menu {
  float: left;
  position: fixed;
  margin: 16px;
}

/* line 44, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
.grid-1 .intro h2 {
  margin-top: 0;
}

/* line 47, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
.grid-1 .intro h5 {
  margin-top: 0px;
  font-weight: 400;
  letter-spacing: 8px;
}

/* line 53, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
.grid-1 a {
  display: block;
  margin-top: 60px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

/* line 67, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-2, div.grid-works .grid-3, div.grid-works .grid-4 {
  padding: 0;
  background: no-repeat center;
  background-size: auto 100%;
}

/* line 68, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-2 a, div.grid-works .grid-3 a, div.grid-works .grid-4 a {
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

/* line 80, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-2:hover, div.grid-works .grid-3:hover, div.grid-works .grid-4:hover {
  cursor: pointer;
}

/* line 82, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-2:hover .grid-info, div.grid-works .grid-3:hover .grid-info, div.grid-works .grid-4:hover .grid-info {
  transition: .5s;
  opacity: 1;
}

/* line 87, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-2 {
  background-image: url("../img/covers/svgTool.png");
}

/* line 90, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-3 {
  background-image: url("../img/covers/ebMobile.png");
}

/* line 93, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-4 {
  background-image: url("../img/covers/promotr.png");
}

/* line 96, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-info {
  opacity: 0;
  display: flex;
  background-image: radial-gradient(50% 85%, rgba(28, 100, 126, 0.65) 48%, rgba(12, 52, 72, 0.75) 92%);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* line 104, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-info div {
  display: block;
}

/* line 106, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-info div p {
  color: #F5D76A;
  margin-top: -8px;
}

/* line 110, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-works .grid-info div h5 {
  color: #F5D76A;
}

/* line 119, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-about a {
  display: block;
  margin-top: 60px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

/* line 126, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-about .grid-2 p {
  color: #0C3448;
}

/* line 131, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-about .grid-3 p {
  color: #F5D76A;
}

/* line 134, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-about .grid-3 a {
  margin-top: 0px;
  padding: 16px;
  display: inline-block;
}

/* line 140, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.grid-about .grid-4 {
  background: no-repeat center;
  background-size: auto 100%;
  background-image: url("../img/covers/ajPhoto.png");
}

/* line 149, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.project-single {
  text-align: center;
}

/* line 151, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.project-single div.wrapper {
  display: block;
  margin: auto;
  margin-top: 60px;
  max-width: 950px;
  text-align: left;
}

/* line 157, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.project-single div.wrapper :first-child, div.project-single div.wrapper :nth-child(2) {
  text-align: center;
}

/* line 160, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_components.scss */
div.project-single div.wrapper img:first-of-type {
  margin-top: 60px;
}

/* line 1, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_four-squares-layout.scss */
.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 60em) {
  /* line 1, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_four-squares-layout.scss */
  .container {
    grid-template-rows: repeat(4, 1fr);
  }
}

/* line 19, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_four-squares-layout.scss */
.grid-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9FAF4;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

@media screen and (max-width: 60em) {
  /* line 19, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_four-squares-layout.scss */
  .grid-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1;
  }
}

/* line 33, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_four-squares-layout.scss */
.grid-1 div {
  flex: 1;
}

/* line 38, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_four-squares-layout.scss */
.grid-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5D76A;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 1;
}

@media screen and (max-width: 60em) {
  /* line 38, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_four-squares-layout.scss */
  .grid-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
  }
}

/* line 52, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_four-squares-layout.scss */
.grid-2 div {
  flex: 1;
}

/* line 57, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_four-squares-layout.scss */
.grid-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EE8F90;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}

@media screen and (max-width: 60em) {
  /* line 57, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_four-squares-layout.scss */
  .grid-3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 3;
  }
}

/* line 71, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_four-squares-layout.scss */
.grid-3 div {
  flex: 1;
}

/* line 76, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_four-squares-layout.scss */
.grid-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0C3448;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 2;
}

@media screen and (max-width: 60em) {
  /* line 76, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_four-squares-layout.scss */
  .grid-4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 4;
  }
}

/* line 90, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_four-squares-layout.scss */
.grid-4 div {
  flex: 1;
}

/* line 95, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_four-squares-layout.scss */
.callout {
  margin: 0;
}

/* line 99, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_four-squares-layout.scss */
.grid-1, .grid-2, .grid-3, .grid-4 {
  padding: 32px;
}

/* Head Yellow */
/* line 2, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#aj-head-yellow {
  opacity: 0;
  transform: opacity;
  transform-origin: center;
  animation: appear 1.5s ease-in-out forwards;
}

/* line 8, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#glassesR-yellow {
  transform: translateY(35px) scaleY(0.5);
  animation: glassesAnimR 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 13, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#glassesL-yellow {
  transform: translateY(35px) scaleY(0.5);
  animation: glassesAnim 1.5s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 18, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#earringsR-yellow {
  transform: translateY(-5px);
  animation: earringsAnimR 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 23, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#earringsL-yellow {
  transform: translateY(-5px);
  animation: earringsAnim 1.5s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 28, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#face-yellow {
  transform: translateY(50px) scaleY(0.64);
  animation: faceAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 33, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#bangsR-yellow {
  transform: translateY(55px) scaleY(0.64);
  animation: bangsAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 38, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#bangsL-yellow {
  transform: translateY(50px) scale(0.8);
  animation: bangsAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 43, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#hairBack-yellow {
  transform: translate(0px, 20px) scaleY(0.8);
  animation: hairBackAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* Head Dark */
/* line 51, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#aj-head-dark {
  opacity: 0;
  transform: opacity;
  transform-origin: center;
  animation: appear 1.5s ease-in-out forwards;
}

/* line 57, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#glassesR-dark {
  transform: translateY(35px) scaleY(0.5);
  animation: glassesAnimR 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 62, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#glassesL-dark {
  transform: translateY(35px) scaleY(0.5);
  animation: glassesAnim 1.5s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 67, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#earringsR-dark {
  transform: translateY(-5px);
  animation: earringsAnimR 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 72, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#earringsL-dark {
  transform: translateY(-5px);
  animation: earringsAnim 1.5s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 77, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#face-dark {
  transform: translateY(50px) scaleY(0.64);
  animation: faceAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 82, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#bangsR-dark {
  transform: translateY(55px) scaleY(0.64);
  animation: bangsAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 87, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#bangsL-dark {
  transform: translateY(50px) scale(0.8);
  animation: bangsAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 92, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#hairBack-dark {
  transform: translate(0px, 20px) scaleY(0.8);
  animation: hairBackAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* Head Pink */
/* line 99, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#aj-head-pink {
  opacity: 0;
  transform: opacity;
  transform-origin: center;
  animation: appear 1.5s ease-in-out forwards;
}

/* line 105, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#glassesR-pink {
  transform: translateY(35px) scaleY(0.5);
  animation: glassesAnimR 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 110, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#glassesL-pink {
  transform: translateY(35px) scaleY(0.5);
  animation: glassesAnim 1.5s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 115, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#earringsR-pink {
  transform: translateY(-5px);
  animation: earringsAnimR 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 120, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#earringsL-pink {
  transform: translateY(-5px);
  animation: earringsAnim 1.5s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 125, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#face-pink {
  transform: translateY(50px) scaleY(0.64);
  animation: faceAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 130, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#bangsR-pink {
  transform: translateY(55px) scaleY(0.64);
  animation: bangsAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 135, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#bangsL-pink {
  transform: translateY(50px) scale(0.8);
  animation: bangsAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* line 140, /Users/annamatillano/Documents/Github/ajmatillano.github.io/sass/_animations.scss */
#hairBack-pink {
  transform: translate(0px, 20px) scaleY(0.8);
  animation: hairBackAnim 3s .6s forwards;
  -webkit-animation-fill-mode: forwards;
  /* Safari 4.0 - 8.0 */
}

/* Headbang Animation */
@keyframes glassesAnim {
  20% {
    transform: translateY(-10px) scaleY(1);
  }
  40% {
    transform: translateY(-10px) scaleY(1);
  }
  60% {
    transform: translateY(25px) scaleY(0.7);
  }
  80% {
    transform: translateY(-10px) scaleY(1);
  }
  100% {
    transform: translateY(0px) scaleY(1);
  }
}

@keyframes glassesAnimR {
  10% {
    transform: translateY(-10px) scaleY(1);
  }
  20% {
    transform: translateY(-10px) scaleY(1);
  }
  30% {
    transform: translateY(25px) scaleY(0.7);
  }
  40% {
    transform: translateY(-10px) scaleY(1);
  }
  50% {
    transform: translateY(0px) scaleY(1);
  }
  60% {
    transform: translateY(20px) scaleY(0.1);
  }
  70% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes faceAnim {
  10% {
    transform: translateY(-5px) scaleY(1.1);
  }
  20% {
    transform: translateY(-5px) scaleY(1.1);
  }
  30% {
    transform: translateY(30px) scaleY(0.8);
  }
  40% {
    transform: translateY(-5px) scaleY(1);
  }
  50% {
    transform: translateY(0px) scaleY(1);
  }
  60% {
    transform: rotateZ(2deg);
  }
  70% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes bangsAnim {
  10% {
    transform: translateY(5px) scaleY(1);
  }
  20% {
    transform: translateY(5px) scaleY(1);
  }
  30% {
    transform: translateY(38px) scaleY(0.7);
  }
  40% {
    transform: translateY(-5px) scaleY(1);
  }
  50% {
    transform: translateY(0px) scaleY(1);
  }
  60% {
    transform: rotateZ(2deg);
  }
  70% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes hairBackAnim {
  10% {
    transform: translateY(5px) scaleY(1);
  }
  20% {
    transform: translateY(5px) scaleY(1);
  }
  30% {
    transform: translateY(-2px) scaleY(0.85);
  }
  40% {
    transform: translateY(10px) scaleY(1);
  }
  50% {
    transform: translateY(5px) scaleY(1);
  }
  60% {
    transform: rotateZ(1deg);
  }
  70% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes earringsAnim {
  20% {
    transform: translateY(-10px) scaleY(1);
  }
  40% {
    transform: translateY(-10px) scaleY(1);
  }
  60% {
    transform: translateY(5px) scaleY(1);
  }
  80% {
    transform: translateY(-5px) scaleY(1);
  }
  100% {
    transform: translateY(0px) scaleY(1);
  }
}

@keyframes earringsAnimR {
  10% {
    transform: translateY(-10px) scaleY(1);
  }
  20% {
    transform: translateY(-10px) scaleY(1);
  }
  30% {
    transform: translateY(5px) scaleY(1);
  }
  40% {
    transform: translateY(-5px) scaleY(1);
  }
  50% {
    transform: translateY(0px) scaleY(1);
  }
  60% {
    transform: translate(-2px, 3px);
  }
  70% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Wink Animation */
@keyframes winkAnim {
  20% {
    transform: rotateZ(2deg);
  }
  30% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

/* Circle Beat Animation */
@keyframes circleBeatAnim {
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(1000);
    opacity: 0;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*# sourceMappingURL=../css/app.map */