* {
font-family: Roboto, Arial, Helvetica, sans-serif;
color: #EE8F90;
background-color: #0C3448;
}
a {
  text-decoration: none;
}
body {
  text-align: center;
}

h1 {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 5px;
}

p {
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 11px;
}

h4 {
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 15.5px;
  color: #0E567D;
}

div.main {
  height: 100%;
}

div.mid {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 400px;
  transform: translate(-50%, -50%);
}

div.social svg {
  padding: 0px 22px 0px 22px;
  opacity: .5;
  width: 24px;
  height: 24px;
}

div.social svg:hover {
  opacity: 1;
}

div.social {
  margin-top: 80px;
  margin-right: 12px;
}

/* Floating Logo */
#aj {
  animation: floatAnim 4s ease-in-out infinite;
}

/* Floating Animation */
@keyframes floatAnim {
  0% {
    transform: translate(360px,280px);
  }
  50% {
    transform: translate(360px,270px);
  }
  100% {
    transform: translate(360px,280px);
  }
}
