.wrapper {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 40%;
  width: 600px;
  height: 200px;
}
*:hover {
  cursor: pointer;
}

div p {
  cursor: pointer;
  margin: 0;
}
div p.text {
  padding: 5px;
  display: inline-block;
  min-width: 200px;
}

div p.text:hover {
  border:1px dashed gray;
}

div.btn {
  margin-top: 20px;
  text-align: center;
  border: 1px solid gray;
}
div.btn p {
  padding: 5px;
}
div.btn:hover {
  color: white;
  background-color: gray;
}

div.addPoint {
  max-width: 200px;
}

#moreOptions div.option {
  display: none;
}

#moreOptions {
  display: none;
}
#moreOptions div {
  display: inline-block;
  height: 30px;
  width: 30px;
}

#moreOptions div.btn {
  border-radius: 60px;
}
#moreOptions div.btn:hover {
  border-radius: 60px;
}

#moreOptions div:first-child {
  margin-right: 10px;
}
