// sidemenu

#sidemenu {
  display: block;
  background-color: $color-white;
  @extend .border-thin-dark;
  border-top: none;
  border-left: none;
  border-bottom: none;
  padding: 16px;
  text-align: center;
  .activeLink {
    color: $color-blue;
  }
  div {
    margin-top: 80px;
  }
  div:last-child {
    display: block;
    width: 100%;
    left: 0px;
    position: absolute;
    bottom: 16px;
    text-align: center;
  }
  ul {
    margin: 0;
    li {
      line-height: 2.5;
      list-style-type: none;
      font-family: 'Merriweather', serif;
    }
  }
}

/* Menu Button */

#icon-menu {
  float: left;
  position: fixed;
  margin: 16px;
  z-index: 999;
  &:hover {
    #Rectangle {
      fill: $color-creamDarker;
    }
  }
}


// Square Grids
.grid-1 {
  .intro {
    h1 {
      margin-top: 0;
    }
    p {
      margin-top: 0px;
      font-weight: 400;
      letter-spacing: 8.5px;
    }
  }
    a {
      display: block;
      margin-top: 64px;
      font-family: 'Merriweather', serif;
      font-weight: 400;
    }
}

// Works

div.grid-works {
  .grid-2, .grid-3, .grid-4 {
    a {
      width: 100%;
      height: 100%;
      margin: 0;
      display: block;
    //  font-family: 'Merriweather', serif;
      font-weight: 400;
    }
    padding: 0;
    background: no-repeat center;
  }
  .grid-2:hover, .grid-3:hover, .grid-4:hover {
    cursor: pointer;
    .grid-info {
      transition: .5s;
      opacity: 1;
    }
  }
  .grid-2 {
    background-size: cover;
    background-image: url('../img/covers/svgTool.png')
  }
  .grid-3 {
    background-size: cover;
    background-image: url('../img/covers/ebMobile.png')
  }
  .grid-4 {
    background-size: cover;
    background-image: url('../img/covers/promotr.png')
  }
  .grid-info {
    opacity: 0;
    display: flex;
    background-image: radial-gradient(50% 85%, rgba(28,100,126,0.65) 48%, rgba(12,52,72,0.75) 92%);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    div {
      display: block;
      p {
        color: $color-yellow;
        margin-top: -8px;
      }
      h3 {
        color: $color-yellow;
      }
    }
  }
}

// About
div.grid-about {
  a {
    display: block;
    margin-top: 64px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
  }
  .grid-2 {
    a {
      color: $color-blue;
    }
  }
  .grid-3 {
    p {
      color: $color-yellow;
    }
    a {
      margin-top: 0px;
      padding: 16px;
      display: inline-block;
    }
  }
  .grid-4 {
    background: no-repeat center;
    background-size: auto 100%;
    background-image: url('../img/covers/ajPhoto.png');
  }
}

// Project Single

div.project-single {
  text-align: center;
  div.wrapper {
    display: inline-block;
    margin: auto;
    margin-top: 64px;
    max-width: 900px;
    text-align: left;
    h1:first-of-type {
      text-align: center;
    }
    p:first-of-type {
      text-align: center;
    }
    img:first-of-type {
      margin-top: 64px;
      margin-bottom: 64px;
    }
    h1, h2, h3, h4{
      margin-top: 64px;
      margin-bottom: 32px;
    }
    h5 {
      margin-bottom: 16px;
    }
    img {
      display: block;
      text-align: center;
      margin: auto;
    }
  }
  div.separator {
    text-align: center;
    margin: 64px;
  }
  ol {
    list-style: upper-roman;
  }
  img + p.text_small,  p.caption  {
    text-align: center;
    opacity: .80;
    margin-bottom: 64px;
    margin-top: 8px;
  }
}
