// sidemenu

#sidemenu {
  display: block;
  background-color: $color-cream;
  @extend .border-thin-dark;
  border-top: none;
  border-left: none;
  border-bottom: none;
  padding: 16px;
  text-align: center;
  .activeLink {
    color: $color-blue;
  }
  div {
    margin-top: 80px;
  }
  div:last-child {
    display: block;
    width: 100%;
    left: 0px;
    position: absolute;
    bottom: 16px;
    text-align: center;
  }
}
#icon-menu {
  float: left;
  position: fixed;
  margin: 16px;
}

// Square Grids
.grid-1 {
  .intro {
    h5 {
      margin-top: 0px;
      font-weight: 400;
      letter-spacing: 8px;
    }
  }
  a {
    display: block;
    margin-top: 60px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }
}

// Heads
