// sidemenu

#sidemenu {
  display: block !important;
  //opacity: 0;
  background-color: $color-cream;
  @extend .border-thin-dark;
  border-top: none;
  border-left: none;
  border-bottom: none;
  padding: 16px;
  text-align: center;
  .activeLink {
    color: $color-blue;
  }
  a {
    transition: none;
  }
  div {
    margin-top: 80px;
  }
  div:last-child {
    display: block;
    width: 100%;
    left: 0px;
    position: absolute;
    bottom: 16px;
    text-align: center;
  }
  ul {
    margin: 0;
    li {
      line-height: 2.5;
      list-style-type: none;
      font-family: 'Merriweather', serif;
      font-size: .9rem;
    }
  }
}

/* Side Menu */
#sidemenu.showMenu {
  opacity: 1 !important;
  transform: translateX(0px) !important;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
#sidemenu.hideMenu {
  opacity: 1 !important;
  transform: translateX(-250px) !important;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.position-left {
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  width: 250px;
}

@media screen and (max-width: 60em) {
  .position-left {
    width: 100% !important;
    -webkit-transform: translateX(-100%) !important;
        -ms-transform: translateX(-100%) !important;
            transform: translateX(-100%) !important;
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  }
}

/* Menu Button */

#icon-menu {
  float: left;
  position: fixed;
  left: 0px;
  margin: 16px;
  z-index: 9999999;
  &:hover {
    #bot, #mid, #top {
      fill: $color-blue;
    }
    cursor: pointer;
  }
}

#back {
  float: left;
  position: fixed;
  left: 0px;
  margin: 16px;
  padding: 16px;
  color: $color-blue;
  background-color: $color-white;
  z-index: 9999999;
}

// Square Grids
.grid-1 {
  .intro {
    h1 {
      margin-top: 0;
    }
    p {
      margin-top: 0px;
      font-weight: 400;
      letter-spacing: 8.5px;
      text-transform: none;
    }
    @media screen and (max-width: 60em) {
      padding-top: 20px;
    }
  }
  a {
    display: block;
    margin-top: 64px;
  //  font-family: 'Merriweather', serif;
    font-weight: 400;
  }
}

// home

div.grid-home {
  #logo {
    display: none;
  }
}

// Works

div.grid-works {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  .grid-2, .grid-3, .grid-4, .grid-5 {
    a {
      width: 100%;
      height: 100%;
      margin: 0;
      display: block;
      font-weight: 400;
    }
    p {
      opacity: .8;
    }
    p:last-of-type {
      margin-top: 20px;
    }
    padding: 0;
    background: no-repeat center;
  }
  .grid-2:hover, .grid-3:hover, .grid-4:hover, .grid-5:hover {
    cursor: pointer;
    .grid-info {
      transition: .3s;
      opacity: 1;
    }
  }
  .grid-2 {
    background: no-repeat center;
    background-size: cover;
    background-image: url('../img/covers/svgTool.png')
  }
  .grid-3 {
    background: no-repeat center;
    background-size: cover;
    background-image: url('../img/covers/ebMobile.png')
  }
  .grid-4 {
    background: no-repeat center;
    background-size: cover;
    background-image: url('../img/covers/lendr.png')
  }
  .grid-5 {
    background: no-repeat center;
    background-size: cover;
    background-image: url('../img/covers/acasys.png');
  }
  .grid-info {
    opacity: 0;
    display: flex;
    //background-image: radial-gradient(75% 95%, rgba(28,100,126,0.65) 48%, rgba(12,52,72,0.75) 92%);
    background: rgba(12,52,72,.95);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    div {
      display: block;
      p {
        color: $color-yellow;
        margin-top: -8px;
      }
      h3 {
        font-weight: 700;
        color: $color-yellow;
      }
    }
  }
}

// About
div.grid-about {
  a {
    display: block;
    margin-top: 64px;
  //  font-family: 'Merriweather', serif;
    font-weight: 400;
  }
  .grid-2 {
    p {
      text-transform: none;
      color: $color-blue;
    }
    a {
      color: $color-blue;
      &:hover {
        color: #000000;
      }
    }
  }
  .grid-3 {
    p {
      color: $color-yellow;
    }
    a {
      color: $color-yellow;
      margin-top: 0px;
      padding: 12px;
      display: inline-block;
    }
    svg {
      g#linkedin {
        fill: $color-yellow;
      }
      g#dribble {
        fill: $color-yellow;
      }
      g#twitter {
        fill: $color-yellow;
      }
      g#codepen {
        fill: $color-yellow;
      }
    }
  }
  .grid-4 {
    background: no-repeat center;
    background-size: cover;
    background-image: url('../img/covers/ajPhoto.png');
  }
  a:hover {
    @mixin darken-hover {
      transition: .5s;
      fill: $color-yellowDarker;
    }
    svg {
      g#linkedin {
        @include darken-hover;
      }
      g#dribble {
        @include darken-hover;
      }
      g#twitter {
        @include darken-hover;
      }
      g#codepen {
        @include darken-hover;
      }
    }
  }
}

// Project Single

div.page-single {
  text-align: center;
  div.wrapper {
    display: inline-block;
    margin: auto;
    max-width: 900px;
    text-align: left;
    h1:first-of-type {
      text-align: center;
    }
    p:first-of-type {
      text-align: center;
    }
    img:first-of-type {
      margin-top: 64px;
      margin-bottom: 64px;
    }
    h1, h2, h3, h4{
      margin-top: 64px;
      margin-bottom: 32px;
    }
    h5 {
      margin-bottom: 16px;
    }
    img {
      display: block;
      text-align: center;
      margin: auto;
    }
    p:last-of-type {
      margin-top: 80px;
      margin-bottom: 80px;
      text-align: center;
    }
  }
  div.separator {
    text-align: center;
    margin: 64px;
  }
  ol {
    list-style: upper-roman;
  }
  img + p.text_small,  p.caption  {
    text-align: center;
    opacity: .80;
    margin-bottom: 64px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }
  @media screen and (max-width: 60em) {
    padding-top: 64px;
  }
}


// loader

#loader {
  display: block;
  position: fixed;
  z-index: 99999999999;
  text-align: center;
  background: $color-cream;
  width: 100%;
  height: 100%;
  transition: .2s;
  svg {
    display: block;
    top: 50%;
    left: 45%;
    position: absolute;
  }
}

// top toolbar

#topNavbar {
  width: 100vw;
  display: block;
  position: fixed;
  z-index: 100;
  background: #ffffff;
  height: 72px;
  padding: 16px;
  border-bottom: 1px solid $color-creamDarker;
}

.top-nav-bar {
  margin-left: 70px;
  position: fixed;
  z-index: 9999;
  a {
    svg {
      margin-top: 18px;
      display: inline-block;
    }
    h5 {
      float: right;
      margin-top: 24px;
      margin-left: 8px;
      color: $color-blue;
    }
  }
}
