// Adding vendor prefixes to grid values
@mixin vendor-prefix-value($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-o-', '') {
    #{$name}: #{$vendor}#{$value};
  }
}

// Adding vendor prefixes to grid properties
@mixin vendor-prefix-property($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}


// Width adjusts relative to viewport when side-menu is opened

.off-canvas-content.is-open-left.has-transition-push.has-position-left {
  div.container:first-of-type {
    width: 75vw;
  }
}
.off-canvas-content.project-single.is-open-left.has-transition-push {
  div:first-of-type {
    transition: 1s;
    transition-delay: .1s;
    width: 65vw;
    margin: 32px;
  }
}
