// Colors

$color-primary1: #0A374E;
$color-primary1-dark: #051D29;
$color-primary2: #3B5F71;
$color-primary3: #899FAA;
$color-primary4: #C4CFD5;

$color-secondary1: #EE8F90;
$color-secondary1-dark: #DC8283;
$color-secondary2: #F1A5A6;
$color-secondary3: #F7C9CA;
$color-secondary4: #FBE4E4;

$color-tertiary1: #F5D76A;
$color-tertiary1-dark: #EACB5A;
$color-tertiary2: #F7DF88;
$color-tertiary3: #FAECB7;
$color-tertiary4: #FDF5DB;

$color-yellowishGray1: #F5D76A;
$color-yellowishGray2: #7C7D7A;
$color-yellowishGray3: #D1D2CD;
$color-yellowishGray4: #F9FAF4;

$color-gray1: #333333;
$color-gray2: #4E4E4E;
$color-gray3: #A7A7A7;

$color-black: #000000;
$color-white: #FFFFFF;



// Styles

.border-thin-dark {
  border: 1px solid rgba(75,100,100,.15);
}

// Main
html {
  scroll-behavior: smooth;
  height: 100%;
  transition: 0.5s;
}
body {
  background-color: $color-white;
  color: $color-gray2;
}
a:hover {
  cursor: pointer;
}


// Typography

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
  font-size: 16px;
  line-height: 24px;
}

.font-extra-big, h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}

p, .font-small, .font-extra-small {
  font-family: 'Poppins', sans-serif;
  color: $color-gray2;
}

.font-bold {
  font-weight: bold;
}

.font-light {
  font-weight: 300;
}

.font-extra-big {
  font-size: 64px;
  line-height: 96px;
}

.font-small {
  font-size: 12px;
  line-height: 18px;
}

.font-extra-small {
  font-size: 10px;
  line-height: 15px;
}

h1 {
  font-size: 48px;
  line-height: 72px;
}

h2 {
  font-size: 40px;
  line-height: 60px;
}

h3 {
  font-size: 32px;
  line-height: 48px;
}

h4 {
  font-size: 24px;
  line-height: 36px;
}

a, a p, p a {
  font-family: 'Poppins', sans-serif;
  color: $color-secondary1;
  &:hover {
    transition: .5s;
    color: $color-secondary1-dark;
  }
}

.filler {
  display: block;
  opacity: 0;
  z-index: -9999999;
  height: 50%;
}
