// SVG Tool

div.svg-tool-1 {
  background-image: url('../img/projects/svg-tool/svg2.png');
}
div.svg-tool-2 {
  background-image: url('../img/projects/svg-tool/svg3.jpg');
}
div.svg-tool-3 {
  background-image: url('../img/projects/svg-tool/svg5.png');
}
div.svg-tool-4 {
  background-image: url('../img/projects/svg-tool/svg6.png');
}
div.svg-tool-5 {
  background-image: url('../img/projects/svg-tool/svg7.gif');
}
div.svg-tool-6 {
  background-image: url('../img/projects/svg-tool/svg8.png');
}
div.svg-tool-7 {
  background-image: url('../img/projects/svg-tool/svg9.png');
}
div.svg-tool-8 {
  background-image: url('../img/projects/svg-tool/svg10.png');
}
div.svg-tool-9 {
  background-image: url('../img/projects/svg-tool/svg11.png');
}
div.svg-tool-10 {
  background-image: url('../img/projects/svg-tool/svg4.png');
}
div.svg-tool-11 {
  background-image: url('../img/projects/svg-tool/svg12.png');
}
div.svg-tool-12 {
  background-image: url('../img/projects/svg-tool/svg13.png');
}
div.svg-tool-13 {
  background-image: url('../img/projects/svg-tool/svg14.jpg');
}
div.svg-tool-14 {
  background-image: url('../img/projects/svg-tool/svg15.gif');
}
div.svg-tool-15 {
  background-image: url('../img/projects/svg-tool/svg16.png');
}
div.svg-tool-16 {
  background-image: url('../img/projects/svg-tool/svg17.png');
}
