// SVG Tool

div.svg-tool-1 {
  background-image: url('../img/projects/svg-tool/svg2.png');
}
div.svg-tool-2 {
  background-image: url('../img/projects/svg-tool/svg3.jpg');
}
div.svg-tool-3 {
  background-image: url('../img/projects/svg-tool/svg5.png');
}
div.svg-tool-4 {
  background-image: url('../img/projects/svg-tool/svg6.png');
}
div.svg-tool-5 {
  background-image: url('../img/projects/svg-tool/svg7.gif');
}
div.svg-tool-6 {
  background-image: url('../img/projects/svg-tool/svg8.png');
}
div.svg-tool-7 {
  background-image: url('../img/projects/svg-tool/svg9.png');
}
div.svg-tool-8 {
  background-image: url('../img/projects/svg-tool/svg10.png');
}
div.svg-tool-9 {
  background-image: url('../img/projects/svg-tool/svg11.png');
}
div.svg-tool-10 {
  background-image: url('../img/projects/svg-tool/svg4.png');
}
div.svg-tool-11 {
  background-image: url('../img/projects/svg-tool/svg12.png');
}
div.svg-tool-12 {
  background-image: url('../img/projects/svg-tool/svg13.png');
}
div.svg-tool-13 {
  background-image: url('../img/projects/svg-tool/svg14.jpg');
}
div.svg-tool-14 {
  background-image: url('../img/projects/svg-tool/svg15.gif');
}
div.svg-tool-15 {
  background-image: url('../img/projects/svg-tool/svg16.png');
}
div.svg-tool-16 {
  background-image: url('../img/projects/svg-tool/svg17.png');
}


// Lendr
div.lendr-1 {
  background-image: url('../img/projects/lendr/lendr1.png');
}
div.lendr-2 {
  background-image: url('../img/projects/lendr/lendr2.png');
}
div.lendr-3 {
  background-image: url('../img/projects/lendr/lendr3.jpg');
}
div.lendr-4 {
  background-image: url('../img/projects/lendr/lendr4.png');
}
div.lendr-5 {
  background-image: url('../img/projects/lendr/lendr5.png');
}
div.lendr-6 {
  background-image: url('../img/projects/lendr/lendr6.jpg');
}
div.lendr-7 {
  background-image: url('../img/projects/lendr/lendr7.jpg');
}
div.lendr-8 {
  background-image: url('../img/projects/lendr/lendr8.jpg');
}
div.lendr-9 {
  background-image: url('../img/projects/lendr/lendr9.png');
}
div.lendr-10 {
  background-image: url('../img/projects/lendr/lendr10.jpg');
}
div.lendr-11 {
  background-image: url('../img/projects/lendr/lendr11.gif');
}
div.lendr-12 {
  background-image: url('../img/projects/lendr/lendr12.jpg');
}
div.lendr-13 {
  background-image: url('../img/projects/lendr/lendr13.jpg');
}
div.lendr-14 {
  background-image: url('../img/projects/lendr/lendr14.png');
}
div.lendr-15 {
  background-image: url('../img/projects/lendr/lendr15.png');
}

// EB

div.eb-1 {
  background-image: url('../img/projects/eb/eb1.png');
}
div.eb-2 {
  background-image: url('../img/projects/eb/eb2.png');
}
div.eb-3 {
  background-image: url('../img/projects/eb/eb3.png');
}
div.eb-4 {
  background-image: url('../img/projects/eb/eb4.png');
}
div.eb-5 {
  background-image: url('../img/projects/eb/eb5.png');
}
div.eb-6 {
  background-image: url('../img/projects/eb/eb6.gif');
}
div.eb-7 {
  background-image: url('../img/projects/eb/eb7.gif');
}
div.eb-8 {
  background-image: url('../img/projects/eb/eb8.png');
}
div.eb-9 {
  background-image: url('../img/projects/eb/eb9.png');
}
div.eb-10 {
  background-image: url('../img/projects/eb/eb10.png');
}
div.eb-11 {
  background-image: url('../img/projects/eb/eb11.png');
}
