// Large

@media only screen and (min-width: 2300px) {
  div.main-container.project-view {
    margin: auto;
    max-width: 1024px;
    scroll-behavior: smooth;
    height: auto;
    overflow: scroll;
  }

// Fonts
  html {
    font-size: 24px;
    line-height: 32px;
  }
  .font-extra-big {
    font-size: 120px;
    line-height: 200px;
  }

  .font-small, .caption  {
    font-size: 24px;
    line-height: 36px;
  }

  .font-extra-small {
    font-size: 20px;
    line-height: 30px;
  }

  h1 {
    font-size: 100px;
    line-height: 160px;
  }

  h2 {
    font-size: 80px;
    line-height: 120px;
  }

  h3 {
    font-size: 64px;
    line-height: 96px;
  }

  h4 {
    font-size: 48px;
    line-height: 64px;
  }
}

// Medium

@media only screen and (max-width: 1024px) {

  div.main-container {
    div.grid-content-panel {
      margin: auto;
    }
    div.grid-logo {
      position: relative;
      height: 320px;
      div.grid-logo-content {
        position: static;
        transform: translate(0,0);
        padding-top: 32px;
      }
      svg {
        width: 50%;
      }
    }
  }


  // Fonts

  html {
    font-size: 16px;
    line-height: 24px;
  }

  .font-extra-big {
    font-size: 64px;
    line-height: 96px;
  }

  .font-small, .caption  {
    font-size: 12px;
    line-height: 18px;
  }

  .font-extra-small {
    font-size: 10px;
    line-height: 15px;
  }

  p.caption {
    margin-top: 8px;
    margin-bottom: 48px;
    text-align: center;
  }

  h1 {
    font-size: 48px;
    line-height: 72px;
  }

  h2 {
    font-size: 40px;
    line-height: 60px;
  }

  h3 {
    font-size: 32px;
    line-height: 48px;
  }

  h4 {
    font-size: 24px;
    line-height: 36px;
  }

  // Grid WORKS
  div.grid-works {
    div.work-thumb {
      &:hover {
        margin-top: 0px;
      }
    }
  }

  // Grid ABOUT
  div.grid-about div.about-photo {
    margin-bottom: 24px;
  }

  // Grid CONNECT
  div.grid-connect div.connect-content {
    transform: translate(0,-50%);
  }


}

// Small

@media only screen and (max-width: 640px) {
  // Main Container
  body div.main-container {
    min-width: 300px;
    overflow: scroll;
    div.about-photo {
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 24px;
    }
    div.about-intro {
      text-align: center;
    }
    div.photo {
      margin-bottom: 24px;
    }
  }
  body div.project-view {
    padding-left: 24px;
    padding-right: 24px;
  }

  // Back button
  a#close-button {
    img {
    position: absolute;
    right: 16px;
    }
  }

  // Projects

  div.grid-project {
    div.project-header {
      h1 {
        margin-top: 40px;
      }
    }
  }

}
