// Large

@media only screen and (min-width: 2300px) {

  div.main-container.project-view {
    margin: auto;
    max-width: 1024px;
    scroll-behavior: smooth;
    height: auto;
    overflow: scroll;
  }
  div.grid-content-panel {
    div.about-photo img {
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 24px;
    }
  }

// Fonts
  html {
    font-size: 24px;
    line-height: 32px;
  }
  .font-extra-big {
    font-size: 120px;
    line-height: 200px;
  }

  .font-small, .caption  {
    font-size: 24px;
    line-height: 36px;
  }

  .font-extra-small {
    font-size: 20px;
    line-height: 30px;
  }

  h1 {
    font-size: 80px;
    line-height: 120px;
  }

  h2 {
    font-size: 64px;
    line-height: 90px;
  }

  h3 {
    font-size: 48px;
    line-height: 80px;
  }

  h4 {
    font-size: 32px;
    line-height: 45px;
  }
}

// Medium

@media only screen and (max-width: 1024px) {
  // Body
  body div.main-container-home {
  /*  background-image: url('../img/about/ajPhotoFull.png');
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    background-size: cover; */
  }
  // Content
  div.grid-content-panel {
    background: $color-white;
  }

  // Main Container
  body div.main-container {
    min-width: 300px;
    overflow: scroll;
    div.grid-left-panel {
      display: none;
    }
    div.grid-logo {
      svg {
        max-width: 140px;
      }
      img.logo {
        padding-top: 0;
      }
    }
    div.grid-logo-desktop {
      display: none;
    }
    div.grid-logo.grid-logo-mobile {
      padding-top: 25%;
      padding-bottom: 25%;
      display: block;
      p {
        text-align: center;
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
      }
      p#arrow-down {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    div.grid-content-panel {
    //  margin-top: 64%;
      div.about-photo img {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
      }
      div.photo {
        margin-bottom: 24px;
      }
    }
    div.about-intro {
      text-align: center;
      display: block;
    }
  }
  body div.project-view {
    padding-left: 24px;
    padding-right: 24px;
  }

  div.main-container {
    div.grid-content-panel {
      background: $color-white;
      margin: auto;
        div.about-photo img {
          max-width: 200px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 24px;
        }
    }
    div.grid-logo {
      position: relative;
      div.grid-logo-content {
        position: static;
        transform: translate(0,0);
      }
      svg {
        width: 50%;
      }
    }
  }


  // Fonts

  html {
    font-size: 16px;
    line-height: 24px;
  }

  .font-extra-big {
    font-size: 64px;
    line-height: 96px;
  }

  .font-small, .caption  {
    font-size: 12px;
    line-height: 18px;
  }

  .font-extra-small {
    font-size: 10px;
    line-height: 15px;
  }

  p.caption {
    margin-top: 8px;
    margin-bottom: 48px;
    text-align: center;
  }

  h1 {
    font-size: 48px;
    line-height: 72px;
  }

  h2 {
    font-size: 40px;
    line-height: 60px;
  }

  h3 {
    font-size: 32px;
    line-height: 48px;
  }

  h4 {
    font-size: 24px;
    line-height: 36px;
  }

  // Grid WORKS
  div.grid-works {
    div.work-thumb {
      &:hover {
        margin-top: 0px;
      }
    }
  }

  // Grid ABOUT
  div.grid-about div.about-photo {
    margin-bottom: 24px;
  }

  // Grid CONNECT
  div.grid-connect div.connect-content {
    transform: translate(0,-50%);
  }


}

// Small

@media only screen and (max-width: 640px) {
  // Body
  /*body div.main-container-home {
    background-image: url('../img/about/ajPhotoFull.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: 120%;
  }*/

  // Main Container
  body div.main-container {
    min-width: 300px;
    overflow: scroll;
    div.grid-logo {
      svg {
        width: 25%;
      }
      img.logo {
        padding-top: 0;
        margin-top: -16px;
      }
    }
    div.grid-logo.grid-logo-mobile {
      padding-top: 40%;
      padding-bottom: 40%;
      display: block;
      display: block;
      p {
        display: inline-block;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      p#arrow-down {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    div.grid-content-panel {
      padding-left: 24px;
      padding-right: 24px;
      background: $color-white;
      div.grid-logo-content {
        display: none;
      }
      div.about-photo img {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
      }
      div.photo {
        padding-right: 0;
        img {
          width: 100%;
          padding-right: 0;
        }
      }

    }
    div.about-intro {
      text-align: center;
      display: block;
    }
  }
  body div.project-view {
    padding-left: 24px;
    padding-right: 24px;
  }

  // Back button
  a#close-button {
    img {
    position: absolute;
    right: 16px;
    }
  }

  // Projects

  div.grid-project {
    div.project-header {
      h1 {
        margin-top: 40px;
      }
    }
  }
}
