.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  height: 100vh;
  @media screen and (max-width: 60em) {
    grid-template-rows: 50% auto 50% 50%;
    overflow-y: visible !important;
    overflow-x: hidden !important;
  }
}

.container.grid-works {
  grid-template-rows: 48% 48% 48% !important;
  @media screen and (max-width: 60em) {
    grid-template-rows: 40% 40% 40% 40% 40% 40% !important;
  }
}

.container.grid-home {
  @media screen and (max-width: 60em) {
    grid-template-rows: 100% !important;
    .grid-2, .grid-3, .grid-4 {
      display: none;
    }
    #logo {
      display: block;
    }
    svg {
      margin-bottom: 8px;
    }
  }
}

// .grid-1,
// .grid-2,
// .grid-3,
// .grid-4
// .grid-5 {
//   grid-template-rows: repeat(6, 1fr);
//   grid-template-columns: repeat(6, 1fr);
// }
.grid-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-cream;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  @media screen and (max-width: 60em) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1;
  }
  div {
    flex: 1;
  }
}

.grid-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-yellow;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 1;
  @media screen and (max-width: 60em) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
  }
  div {
    flex: 1;
  }
}

.grid-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-pink;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  @media screen and (max-width: 60em) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 3;
  }
  div {
    flex: 1;
  }
}

.grid-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-blue;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 2;
  @media screen and (max-width: 60em) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 4;
  }
  div {
    flex: 1;
  }
}

.grid-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-blue;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
  @media screen and (max-width: 60em) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 5;
  }
  div {
    flex: 1;
  }
}

.callout {
  margin: 0;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5 {
  padding: 32px;
}
