/* GLOBAL STYLES */
* {
  box-sizing: border-box;
/*  -webkit-transition: width 1s, height 1s,
  -webkit-transform 1s;
  transition: width 1s, height 1s, transform 1s;*/
}
*:hover {
  transition: .5s;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

a:hover {
  text-decoration: underline;
}
a li:hover {
    background: rgba(0,0,0,.03);
    cursor: pointer;
}

hr {
  border: 0;
  height: 1px;
  background: rgba(0,0,0,.08);
}

.content-wrapper {
  padding: 20px;
  overflow: hidden;
}

.left {
  float: left;
}
.right {
  float: right;
}
/* NAV BAR */
.navbar-nav>li {
  float:right;
  padding: 12px;
}
ul.navbar-nav {
  display: inline;
}
.navbar-nav>li>a, .footer-nav2>li>a, .navbar-nav>li>div>div>p {
  padding-left: 10px;
  color: #333 !important;
  opacity: .7 !important;
  font-size: 14px;
  text-transform:uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  line-height:22px;
  font-weight:normal;
}
.navbar-nav >li > a:hover, .footer-nav2>li>a:hover, .navbar-nav>li>div>div>p:hover {
  text-decoration: none;
  opacity: 1 !important;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
}
/* !NAV BAR */
/* LOADER */
#slider-photos, #slider-photos2 {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
div.loader-container {
  float: left;
  width: 100%;
  z-index: 9999;
  position: absolute;
}
div.loader {
  background: #222;
  display: block;
  height: 400px;
  text-align: center;
}
div.loader2 {
  position: relative;
}
div.loader2 .loader {
  background: #FFF;
}
div.loader svg {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
}
div.loader svg path, .loader svg rect {
  fill: #FF6700;
}
/* LOADER */

/* TYPOGRAPHY */

p, .p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.8em;
}


h4, .h4 {
  font-size: 1em;
  font-weight: lighter;
}

h5, .h5 {
  font-size: .9em;
  font-weight: lighter;
}
h6, .h6 {
  font-size: .7em;
  font-weight: lighter;
}


h2, .h2 {
  font-size: 1.8em;
}
.text-highlight {
  color: #BE3737;
}


/* MAIN NAV */
.navbar-menu {
  display: none;
}
.main-nav {
  float: right;
  margin-top: 10px;
}
.main-nav > li:first-child, .main-nav > li:nth-child(2) {
  display: inline-block;
}
.main-nav li div.home-button, .main-nav li div.dropdown {
  padding-left: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
  //padding-top: 12px;
  //padding-right: 20px;
  float: right;
}
.dropdown p, .home-button p {
  display: inline;
  font-size: 1em;
  color: rgba(0,0,0,0.5);
}
.home-button, .dropdown > div:first-child{
  cursor: pointer;
}
.home-button a:hover {
  text-decoration: none;
}
.home-button {
    position: relative;
    display: inline-block;
    float: right;
}
.arrow-down {
  float: right;
  display: inline;
  top: 10px;
  position: relative;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0,0,0,.5);
  margin-left: 10px;
}
.dropdown-content.show {
    display: block;
    position: absolute;
    right: 0px;
    background-color: #FFFFFF;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
    border-radius: 2px;
}
.dropdown-content {
  display: none;
}
.dropdown-content.show p {
  padding: 20px 60px 20px 20px;
}
.dropdown-content.show li:hover {
  background: rgba(0,0,0,.03);
}
.dropdown-content.show li:active {
  background: rgba(0,0,0,.03);
}
.dropdown-content.show a:active{
  text-decoration: none;
}
.dropdown-content.show a:hover {
  text-decoration: none;
}
.dropdown-content.show li {
  padding: 10px 0;
  border: 1px solid rgba(0,0,0,0);
  overflow: hidden;;
}
.dropdown-content.show a {
  cursor: pointer;
}


/* FOOTER */

.footer li {
  display: inline-block;
}
.footer p, .footer a {
  display: inline;
  color: #FFFFFF;
  padding: 10px;
  font-size: 1em;
}
.footer > div:last-child a, .footer > div:nth-child(2) ul li a, .footer span {
  font-size: .8em;
  color: rgba(0,0,0,.5);
}
.footer > div {
  text-align: center;
}
.footer > div:first-child {
  padding-bottom: 10px;
}
.footer li {
  padding-bottom: 10px;
}

.footer {
  border-top: 1px solid rgba(0,0,0,.1);
  background: #FFF;
  padding: 20px;
}
.footer a {
  color: rgba(0,0,0,.8);
}
.footer h3 {
  font-size: 1em;
}
.footer div h3 {
    color: #333;
}
.footer .nav {
  border-top: 1px solid rgba(0,0,0,.1);
  padding-top: 20px;
}

/* header */
.header {
  background: #FFFFFF;
  padding: 5px 20px 3px 20px;
}

.header .logo {
  margin-top: 5px;
  width: 150px;
}

.banner {
  width: 100%;
  height: 500px;
  text-align: center;
  background: none;
  color: #FFFFFF;
}

.banner h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5em;
  padding: 80px 0 0 0;
}
.banner h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: -60px;
}

.overlay p {
  font-family: "Arial";
  padding-top: 100px;
  font-size: 1.1em;
  font-weight:100;
}

.banner > .overlay {
  background: rgba(0,0,0,.4);
  height: 100%;
  padding: 5px 20px 20px 20px;
}

.background-main {
  background: url('../images/banner_bg.jpg') no-repeat;
  background-color: #222A4C;
  background-size: 100%;
  background-attachment: fixed;
  z-index: 1;
}
/* GRIDS */

.home-content {
  background: #FFFFFF;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 100px;
  height: auto;
  z-index:2;
}
.col-90 {
  width: 90%;
}
.col-80 {
  width: 80%;
}

.col-70 {
  width: 70%;
}

.col-60 {
  width: 60%;
}

.col-50 {
  width: 50%;
}

.col-40 {
  width: 40%;
}

.col-30 {
  width: 30%;
}

.col-20 {
  width: 20%;
}

.home-content .content {
  padding: 0 180px 0 100px;
}
div.mid-part {
  overflow: auto;
  display: inline-block;
}
div.mid-part ul {
  float: left;
  text-align: left;
  padding: 40px 20px 0px 20px;
  padding-top: 10px;
}
div.mid-part ul:first-child {
  margin-right: 80px;
}
.mid-part ul li {
  display: table;
  overflow: auto;
  //width: 360px;
  padding: 30px;
}
.mid-part ul li img {
  float: left;
  padding-top: 10px;
  width: 25px;
  height: 25px;
}
.mid-part ul li h3 {
  font-size: 1.2em;
  font-weight: normal;
  padding-left: 15px;
  display: table-cell;
  vertical-align: middle;
}
.mid-part ul li .h4 {
  //font-size: .8em;
}
.mid-part ul:nth-child(2) {
  float: left;
}
.bottom-part {
  min-height: 300px;
  background: url('../images/real-estate.png');
  background-size: cover;
  background-color:  #101C2A;
  padding: 40px;
  color: #FFF;
  text-align: center;
}
.bottom-part ul {
  padding-left: 30px;
  padding-top: 10px;
}
.bottom-part ul li p {
  font-size: 1.5em;
}
div.home-properties2 {
  display: none;
}
div.home-properties {
  text-align: center;
  background: #fff;
  padding: 40px 40px;
  padding-bottom: 80px;
}
#slider3 {
  display: none;
}
div.home-properties .slider3 {
    width: 100%;
    margin: auto;
}
div.home-properties .slider3 div.slider3-content {
  //overflow: hidden;
  text-align: left;
  height: 350px;
  margin: 20px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.1);
}
div.home-properties .slider3 div.slider3-content:hover {
  border: 1px solid rgba(0,0,0,.3);
  cursor: pointer;
}
div.home-properties .slider3 div.slider3-content a:hover {
  text-decoration: none;
}
div.home-properties .slider3 div img {
  text-align: left;
  max-width: 100%;
  min-height: 50%;
  max-height: 80%;
  opacity: 1;
}
div.home-properties .slider3 div.slider3-content h4 {
  padding: 20px 20px 60px 20px;
  margin: 0;
}
div.home-properties span.h6 {
  padding-top: 10px;
  display: block;
}
div.home-properties .slick-slide {
  margin: 0px 20px;
}
div.home-properties .slick-slide img {
  width: 100%;
}
div.home-properties .slick-prev:before,
div.home-properties .slick-next:before {
    color: rgba(0,0,0,.3);
}
div.home-content hr {
  margin-top: 80px;
}
.home-content .col-2 {
  float: right; !important;
}

/* ORANGE BANNER */

.orange-banner {
  margin-top: -250px;
  padding: 0 10px;
  border-radius: 2px;
  background: #FF7D1C;
  position: relative;
  color: #FFFFFF;
  z-index: 100;
}

.orange-banner a {
  color: #FFFFFF;
}

/* Projects */

.project-info {
  padding-right: 20px;
}
.projects-content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  max-width: 1200px;
  overflow: auto;
  //background: rgba(0,0,0,.05);
}
.projects-content .col-40 h2 {
  margin-top: 0;
}
.projects-content .label2 {
  text-align: right;
  padding-right: 40px;
  color: rgba(0,0,0,.5);
}
.project-loc {
  margin-top: 2px;
}
.project-loc img {
  width: 10px;
  margin-right: 5px;
}
/*.project-title {
  display: none;
}*/
.side-info {
  border-left: 1px solid rgba(0,0,0,.08);
  display: block;
  padding-left: 20px;
}
.side-info hr:first-child {
  display: none;
}
.more-properties li {
  border: 1px solid rgba(0,0,0,0);
  overflow: auto;
  margin-bottom: 20px;
}
.more-properties li h4:last-child {
  font-weight: 400;
}
.more-properties li h4:first-child {
  font-weight: normal;
}
.more-properties li:hover {
  background: rgba(0,0,0,.03);
  border-radius: 2px;
}
.more-properties img {
  max-width: 150px;
  max-height: 80px;
  padding-right: 10px;
}
.page-info .content .more-properties ul {
  padding-left: 0;
}


/* slider */
.slider-for-container {
  background: #222;
}
.slider {
  width: 80%;
  margin: auto;
}

.slider img {
  max-height: 360px;
  max-width: 50%;
  margin: auto;
}

.slider-nav {
  margin: auto;
  width: 35%;
}

.slider-nav img {
  max-width: 100%;
  margin: auto;
}
.slider-nav .slick-slide {
  margin: 10px 5px;
}
.slick-slide img {
  width: 100%;
  cursor: pointer;
  opacity: .3;
}
.slick-current, .slick-current img {
  opacity: 1;
}
.slider .slick-track {
  height: 400px;
  position: relative;
}
.slider img {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50% );
}


/* SIDE MENU */
.side-menu {
//  border-right: 1px solid rgba(0,0,0,.08);
}
.side-menu li {
  padding: 10px 20px;
}
.side-menu a:hover {
  text-decoration: none;
}
.side-menu a:active {
  color: #3382A0;
}

/* PAGE INFO */
.info-about, .info-contact, .info-faq, .info-forms, .info-investment, .info-consultancy , .info-partner, .info-team, .info-copyrights, .info-disclaimer, .info-privacy, .info-terms {
  overflow: hidden;
  margin-bottom: 40px;
}
.page-info h2 {
    color: #FF7D1C;
}
.page-info h3 {
    color: #3382a0;
}
/*.page-info h2, .page-info h3 {
    color: #FF7D1C;
}*/
.page-info .content ul {
  list-style-type: circle;
  color: rgba(0,0,0,0.5);
  padding-left: 40px;
}
.page-info > .banner {
  height: 150px;
  background: url('../images/banner_bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #E6EDF3;
  background-attachment: fixed;
}
.page-info > .banner-faq {
  height: 300px;
  background: url('../images/banner_faq.jpg') no-repeat;
  background-size: cover;
  background-position: top;
  background-color: #E6EDF3;
  background-attachment: fixed;
}
.page-info > .banner-listing {
  height: 300px;
  background: url('../images/banner_listing.jpg') no-repeat;
  background-size: cover;
  background-position: top;
  background-color: #E6EDF3;
  background-attachment: fixed;
}
.page-info > .banner-forms {
  height: 300px;
  background: url('../images/banner_forms.jpg') no-repeat;
  background-size: 100%;
  background-position: top;
  background-color: #E6EDF3;
  background-attachment: fixed;
}
.page-info > .banner-investment {
  height: 300px;
  background: url('../images/banner_investment.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #E6EDF3;
  background-attachment: fixed;
}
.page-info > .banner-partner {
  height: 300px;
  background: url('../images/banner_partner.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #E6EDF3;
  background-attachment: fixed;
}
.page-info > .banner-team {
  height: 300px;
  background: url('../images/banner_team.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #E6EDF3;
  background-attachment: fixed;
}
.page-info > .banner-about {
  height: 300px;
  background: url('../images/banner_about.jpg') no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #E6EDF3;
  background-attachment: fixed;
}
.page-info > .banner-contact {
  height: 300px;
  background: url('../images/banner_contact.jpg') no-repeat;
  background-size: 100%;
  background-position: top;
  background-color: #E6EDF3;
  background-attachment: fixed;
}

.page-info > .banner-consultancy {
  height: 300px;
  background: url('../images/banner_consultancy.jpg') no-repeat;
  background-size: 150%;
  background-position: top;
  background-color: #E6EDF3;
  background-attachment: fixed;
}
.page-info .label2 {
  padding-right: 20px;
}
.page-info .content {
  padding: 0 80px 0 80px;
}
.page-info p, .page-info ol {
  //text-align: justify;
  font-size: 1em;
  color: rgba(0,0,0,0.5);
}
.page-info .label2 p, .page-info .info p {
  margin: 2px auto;
}

/* FAQ and LISTING */
.page-info .info-faq p, .page-info .info-listing p {
  color: #333;
}
.page-info .info-faq ul li, .page-info .info-faq ol li {
  margin-bottom: 40px;
}
.page-info .info-faq #faq4 > ol ol li, .page-info .info-faq #faq2 > ol ul li, .page-info .info-faq #faq3 > ol ol li {
  margin-bottom: 20px;
}
.page-info .info-listing ol li {
  margin-bottom: 0;
}
#faq1, #faq2, #faq3, #faq4, #step1, #step2, #step3, #step4, #step5, #step6 {
    list-style-type: none;
}
.page-info .info-faq .content-wrapper {
  padding: 0;
}
.page-info .info-faq .side-menu {
  margin-top: 10px;
}
.page-info .info-faq .side-menu ul {
  font-size: .9em;
  padding-left: 0;
  list-style-type: none;
}
.page-info .info-faq .side-menu ul li {
  padding: 0 20px 20px 0;
  margin: 0;
}
.page-info .info-faq .side-menu ul li:hover {
  background: none;
}
.page-info .info-faq a:hover {
  text-decoration: underline;
}
.page-info .info-listing #step1 a {
  color: #FF7D1C;
}
.info-listing li table {
  padding-left: 20px;
  width: 100%;
}
.info-listing li table td {
  border-bottom: 1px dotted rgba(0,0,0,.2);
}
.info-listing li table tr:hover {
  background-color: rgba(0,0,0,.03);
}
.info-listing li table tr td:first-child p {
  font-weight: bold;
}



/* INVESTMENT */

.page-info .info-investment {
  overflow: auto;
}

/* ABOUT */
.info-about .project2 {
  border-bottom: 1px solid rgba(0,0,0,.05);
}
.info-about a {
  color: #FF7D1C;
}

/* PARTNER TEAM CONSULTANCY BTN SECONDARY */
.page-info .info-partner ul, .page-info .info-team ul.btn-secondary, .page-info .info-consultancy ul.btn-secondary {
  padding-left: 0;
}
.page-info .info-partner ul li h3, .page-info .info-team ul li h3, .page-info .info-consultancy ul li h3 {
    padding: 10px;
    background: rgba(0,0,0,.03);
  //  color: #FF7D1C;
}
.page-info .info-partner ul.btn-secondary li:hover, .info-team ul.btn-secondary li:hover, .info-consultancy ul.btn-secondary li:hover {
  background: rgba(0,0,0,.03);
  border-radius: 2px;
}
.page-info .info-partner ul li {
  list-style-type: none;
}
.page-info .info-partner a:hover, .page-info .info-team a:hover, .page-info .info-consultancy a:hover {
  text-decoration: none;
}
.page-info .info-team ul li {
  list-style-type: square;
}

/* CONTACT */
.form-contact, .info-contact {
  float: left;
}
.form-contact {
  padding-left: 40px;
}


/* CONSULTANCY */
.consultancy-disclaimer p {
  //text-align: justify;
}
/* FORMS */
input, textarea {
  min-height: 30px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.2);
  font-size: .8em;
  padding: 10px;
}
label {
  font-size: .8em;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0,0,0,.2);
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}
.form-group {
  width: 100%;
  margin-bottom: 20px;
}
.btn-primary {
  min-height: 30px;
  border-radius: 2px;
  background-color: #FF7D1C;
  font-size: 1em;
  color: #FFFFFF;
  padding: 10px 40px;
  border: none;
  cursor: pointer;
  float: right;
}
select {
  font-size: 1em;
}
.btn-primary:hover {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* TABLE */

div.table {
  display: table;
  width: 100%;
}
div.trow {
  display: table-row;
}
div.tcaption {
  display: table-caption;
  width: 100%;
}
div.theading {
  background: #0B1B56;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
div.tcol {
  display: table-cell;
  border: 1px solid rgba(0,0,0,.05);
  border-top: none;
  padding: 10px;
  font-size: 1.2em;
}
div.tcol > label {
}
div.tgroup {
  display: table-row-group;
  width: 100%;
}



/* MEDIA */
@media only screen and (max-width: 1200px) {
  div.home-properties .slider3 {
      width: 100%;
      margin: auto;
  }
  .background-main {
    background-size: cover;
    background-position: top;
  }
  .page-info > .banner-contact {
    background-size: 150%;
    background-position: top;
  }

  .page-info > .banner-forms {
    background-size: 100%;
    background-position: top;
  }
  .slider img {
  //  max-width: 50%;
  }
  .slider .slick-track {
    height: 300px;
    position: relative;
  }
  div.home-properties {
    text-align: center;
  }
  div.home-properties ul {
    margin: auto;
    text-align: center;
    padding: 40px 100px 40px 100px;
  }
  div.mid-part ul:first-child {
    margin-right: 0;
  }
  div.bottom-part {
    padding: 40px;
  }
  div.mid-part ul {
    padding: 0;
  }
  div.mid-part ul li {
    font-size: 1em;
  }
  div.mid-part ul li img {
    width: 25px;
    height: 25px;
  }

}
@media only screen and (max-width: 900px) {
  /* SLIDER HOME PROPERTIES */
  div.home-properties {
    display: none;
  }
  div.home-properties2 {
    display: block;
    text-align: center;
    background: #fff;
    padding: 40px 40px;
    padding-bottom: 80px;
  }
  div.home-properties2 span.h6 {
    padding-top: 10px;
    display: block;
  }
  div.home-properties2 div:first-child {
    text-align: center;
  }
  div.home-properties2 ul {
    margin: auto;
    //padding-left: 50px;
    //text-align: left;
    display: inline-block;
  }
  div.home-properties2 ul, div.home-properties h3 {
    margin: 0;
  }
  div.home-properties2 h4 {
    margin: 10px;
  }
  .home-properties2 ul li {
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.1);
    text-align: left;
    display: inline-block;
    max-width: 230px;
    height: 330px;
    margin: 20px;
  }
  .home-properties2 ul li a:hover {
    text-decoration: none;
  }
  .home-properties2 ul li:hover {
  //  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,.3);
    cursor: pointer;
  }
  .home-properties2 img {
  //  max-width: 180px;
  //  min-height: 140px;
    max-width: 230px;
    min-height: 170px;
    max-height: 150px;
  }
  /* MAIN NAV */
  ul.navbar-nav {
    display: none;
  }
  .navbar-menu {
    display: inline;
  	position:relative;
  	float:right;
  	padding: 10px;
    width: 40px;
    height: 40px;
  	background-image: url('../images/icons/menu.svg');
    background-position: center;
  	background-repeat: no-repeat;
  	border: none;
    cursor: pointer;
    margin-top: -5px;
  }
  .navbar-menu.menu-mobile:hover {
    background-color: rgba(0,0,0,.05);
    transition: .5s;
  }
  ul.navbar-nav.menu-mobile {
    background: #FFFFFF;
    display: block;
    float: none;
    margin: 0;
  }
  ul.navbar-nav.menu-mobile li {
    display: block;
    float: none;
  }
  div.dropdown-content {
    display: none;
  }
  div.dropdown-content.menu-mobile {
    display: block;
    float: none;
    position: relative;
    box-shadow: none;
    min-width: none;
  }
  div.dropdown-content.menu-mobile ul li {
    padding: 10px 10px 10px 20px;
    font-size: .8em;
  }
  div.dropdown-content.menu-mobile a:hover {
    text-decoration: none;
  }
  div.dropdown.menu-mobile {
    display: block;
    float: none;
  }
  .arrow-down {
    display: none;
  }
  /* FOOTER */
  .footer li {
    display: block;
    text-align: center;
  }
  .footer ul li span {
    display: none;
  }
  /* COLUMNS */
  .col-70 {
    width: 100%;
  }

  div.home-properties ul {
    padding: 0px;
  }

  .header .logo {
    width: 80px;
    margin-top: 5px;
  }
  .header {
    z-index: 1000;
    position: relative;
    //overflow: hidden;
    padding: 10px 10px 10px 10px;
  }
  .main-nav {
    margin: auto;
  }
  .background-main {
    background-size: 900px;
  }
  .banner h1 {
    font-size: 3em;
    padding: 20px 20px;
  }
  .banner h2 {
    font-size: 1.3em;
    padding: 0 20px;
    margin-top: -50px;
  }
  .banner p {
    padding-top: 40px;
    font-size: .8em;
  }
  .banner {
    height: auto;
  }
  .orange-banner {
    position: relative;
    float: none;
    margin-top: -60px;
    margin-bottom: 20px;
    width: 100%;
  }
  .col-1 {
    width: 100%;
  }
  .home-content .col-1 {
    padding: 0;
  }
  div.mid-part ul:first-child {
    margin-right: 0;
  }

  /* PROJECTS */
  .label2, .label2 p {
    text-align: left;
  }
  .projects-content .label2 {
    width: 100%;
    text-align: left;
  }
  .project-title {
    display: block;
  }
  .projects-content .col-60:first-child {
    width: 100%;
    overflow: hidden;
  }
  .project-info .label2 p {
    margin: 0;
  }
  .project-info .info {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
  .side-info {
    width: 100%;
    border: none;
    padding-left: 0;
  }
  .side-info hr:first-child {
    margin-bottom: 20px;
    display: block;
  }
  .project-info {
    width: 100%;
  }

  /* SLIDER */
  .slider img {
    max-width: 100%;
    width: 100%;
  }
  .slider {
    max-width: 100%;
  }
  .slider-nav {
    margin: auto;
    width: 50%;
  }
  .slick-prev:before,
  .slick-next:before {
    //display: none;
  }
  .slider .slick-track {
    height: 300px;
    position: relative;
  }

  /* PAGE INFO */
  .page-info .side-menu, .page-info .content, .page-info .label2, .page-info .info {
    width: 100%;
  }
  .page-info .label2 p {
    font-weight: bold;
    margin: 0;
  }
  .page-info .info p  {
    margin: 0 0 20px 0;
  }
  .page-info .label2 h3 {
    display: none;
  }
  .side-menu {
    border: none;
  }
  .page-info .content {
    padding: 0 20px;
  }
  .page-info > .banner-contact {
    background-size: 150%;
    background-position: top;
  }
  .page-info > .banner-forms {
    background-size: 220%;
    background-position: top;
  }
  .page-info > .banner-faq {
    background-size: 100%;
    background-position: top;
  }
  .page-info > .banner-about, .page-info > .banner-contact, .page-info > .banner-faq, .page-info > .banner-listing, .page-info > .banner-forms, .page-info > .banner-investment,  .page-info > .banner-partner,  .page-info > .banner-team, .page-info > .banner-consultancy, .page-info > .banner   {
    height: 100px;
  }

  /* FAQ and LISTING */

  .page-info .info-faq .content {
    padding: 0;
  }
  .page-info .info-faq .col-80 {
    margin-left: -40px;
  }
  .page-info .info-listing li table td:nth-child(2) {
    padding-left: 10px;
  }
  /* CONTACT */
  .info-contact, .form-contact {
    width: 100%;
  }
  .form-contact {
    padding: 0;
  }
  /* TABLE */
  div.tcol {
    float: left;
    max-width: none;
    width: 100%;
  }
  div.yearly-sales {
    display: none;
  }

  .home-content .content {
    padding: 20px;
  }
  div.bottom-part {
    padding: 40px;
  }
  div.mid-part ul {
    float: none;
    margin: 0 auto 0 60px;
  }
}
@media only screen and (max-width: 600px) {
  .banner h2 {
    padding-bottom: 10px;
  }
  div.overlay {
    font-size: .8em;
  }
  div.home-properties2 {
    padding: 10px;
    text-align: center;
  }

  div.home-content hr:first-child {
    margin-top: 20px;
  }
  .home-content {
    padding-top: 10px;
  }
  .slider-nav {
    margin: auto;
    width: 100%;
  }
  .slider .slick-track {
    height: 250px;
  }
  div.mid-part ul {
    float: none;
    margin: 0;
    font-size: .9em;
  }
  div.mid-part ul li {
    padding: 20px 0;
  }
  div.mid-part ul li img {
    width: 20px;
  }
  div.loader {
    height:300px;
  }
}
@media ( min-width: 1600px) {
  div.home-properties .slider3 {
      width: 60%;
      margin: auto;
  }
}
